<div class="d-flex flex-column align-items-center justify-content-center landing-page-wrapper">
  <div class="flex-grow-1 d-flex flex-column justify-content-center align-items-left">
      <h3>Welcome to TASKER</h3>
      <h2>We are a group of creative people who like to simplify and streamline how things are done when working together. Try our award winning app for manaing taks.</h2>
      <%= link_to "Sign Up!", signup_path, class: "btn btn-secondary" %>
  </div>
</div>
